<h3>Order #<%= @order.id %> payment failed</h3>
<p>
  Dear <%= @order.name %></br>
  Unfortunately, your payment was not completed successfully.</br>
  Please try again or use a different payment method.</br>
  We hope that the situation will be resolved soon.</br>
  You can always contact us and we will try to help.</br>
  Contact us:</br>
  +7(000)000-00-00</br>
  depot_service@example.com
</p>
