.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " ×";
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th, th.price {
      font-weight: bold;
      padding-top: 1em;
    }
    th {
      text-align: right;
    }
    th.price {
      border-top: solid thin;
    }
  }
  input[type="submit"] {
    background-color: #B22222;
    border-radius: 0.354em;
    border: solid thin #fff;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #8B0000;
  }
}
